<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_eta %><br />
    <%= f.datetime_select :original_eta %>
  </div>
  <div class="field">
    <%= f.label :phone_guid %><br />
    <%= f.text_field :phone_guid %>
  </div>
  <div class="field">
    <%= f.label :latest_eta %><br />
    <%= f.datetime_select :latest_eta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
